.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 16px 32px;
    background-color: var(--bg-card);
}

.logo {
    fill: var(--text-primary);
}
.link {
    fill: var(--text-primary);
}
.theme{
    fill: var(--text-primary);
    cursor:pointer;
}

@media (max-width: 767px) {
    .header {
        display: flex;
        gap: 12px;
        padding: 16px;
    }
}
